* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  input[type="text"] {
    padding: 5px;
  }

  form {
    margin: 10px 0;
  }

  button {
    background: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #A60504;
    color: #A60504;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #A60504;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .shopping-list {
    list-style: none;
    padding-left: 0;
  }
  
  .shopping-list > li {
    margin-bottom: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
  }
  
  .shopping-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .shopping-item__checked {
    text-decoration: line-through;
  }